<html>
    <head><script >alert('hello');</script></head>
    <body><div id="d1"></div>Hello
    <input type="text" id="t1" value="" />
    <input type="password" id="p1" value="" />
    <span type="radiolist" id="rl1">
        <input type="radio" id="r1" class="radio"  name="r1" value="Male" />Male
        <input type="radio" id="t2" class="radio" name="r1" value="Female" />Female
    </span>
    <span type="checkboxlist" id="cl1">
        <input type="checkbox" id="c1" class="radio"  name="c1" value="Cycling" />Cycling
        <input type="checkbox" id="c2" class="radio" name="c1" value="Swimming" />Swimming
    </span>
    <img id="img1"   />
    <span id="spn1"></span>
    <textarea id="txtAr1" rows="3" cols="20"></textarea>
    <input type="hidden" id="h1" name="h1" />
    <table id="tbl1"></table>
    <select id="sel1" name="sel1" >
         <option value="U.P." >U.P.</option>
         <option value="M.P." >M.P.</option>
        <option value="R.P.">R.P.</option>
    </select>
    
    </body>


</html>