<head>


</head>
<style>

</style>

<body>

	<div style="height:80px; width:100%; border-bottom :1px solid #ccc;">
		<h3>Hello This Header section --- Product</h3>
	</div>

	<div style="padding-bottom:400px">
		<h3>Hello This Content section</h3>

	</div>
	<div style="height:60px; width:100%; border-top :1px solid #ccc;">
		<h3>Hello This Footer section</h3>
	</div>

</body>